html{
	height: 100%;
}

body{
	height: 100%;
	background-image: linear-gradient(rgb(210, 145, 188), rgb(255, 223, 211));
	font-family: 'Manjari', sans-serif;
}

h2{
	background: rgb(121, 161, 221);
	color: white;
	margin: 0;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: normal;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

input{
	box-sizing: border-box;
	background: #f7f7f7;
	font-size: 20px;
	border: none;
	padding: 10px 15px;
	width: 100%;
}

input:focus{
	background: white;
	border: 2px solid rgb(121, 161, 221);
}

li{
	background: white;
	padding: 5px 15px;
	line-height: 30px;
}

li:nth-child(even){
	background: #f7f7f7;
}

#container{
	max-width: 400px;
	margin: 70px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.done{
	color: gray;
	text-decoration: line-through;
}
